<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}" rel="stylesheet" >
  </head>

  <body>

    <header>
      <nav th:insert="fragments/menu :: menu-principal"></nav>
    </header>

    <main role="main">
      <hr>
      <div class="container">

        <div class="card">
          <h4 class="card-header"><strong>Datos de la oferta de trabajo</strong></h4>
          <div class="card-body">
            <form th:action="@{/positions/save}" method="post" th:object="${employment}" enctype="multipart/form-data">
              <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                Por favor corrija los siguientes errores
                <ul>
                  <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{image}">
                    <input type="text" class="form-control" th:field="*{name}" id="nombre" name="name" placeholder="Titulo de la oferta de trabajo" required="required">
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" th:field="*{description}" id="descripcion" name="description" placeholder="Breve descripcion de la oferta de trabajo" required="required">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" th:field="*{category.id}">
                      <option th:each="category : ${categories}"
                              th:value="${category.id}"
                              th:text="${category.name}"></option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="estatus">Estatus</label>
                    <select class="form-control" name="status" th:field="*{status}" id="estatus">
					  <option value="Creada">Creada</option>
                      <option value="Aprobada">Aprobada</option>
                      <option value="Eliminada">Eliminada</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="fecha">Fecha de Publicación</label>
                    <input type="text" class="form-control" name="date" th:field="*{date}" id="fecha" placeholder="Fecha de publicacion" required="required">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-check">
                    <label class="form-check-label" for="destacado0"></label><br>
                    <input class="form-check-input" type="radio" name="highlighted" th:field="*{highlighted}" id="destacado" value="1" checked="checked">
                    <label class="form-check-label" for="destacado1">Destacado</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="highlighted" th:field="*{highlighted}" id="destacado" value="0">
                    <label class="form-check-label" for="destacado2">No Destacado</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="salario">Salario Ofrecido (Aprox)</label>
                    <input type="text" class="form-control" name="salary" th:field="*{salary}" id="salario" placeholder="Salario aproximado." required="required">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="imageFile">Imagen</label>
                    <input type="file" class="form-control-file" name="imageFile" id="imageFile">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="detalles"><strong>Detalles</strong></label>
                    <textarea class="form-control" name="details" th:field="*{details}" id="detalles" rows="7"></textarea>
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="imagen">Imagen/Logo</label>
                  <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${employment.image})}" alt="Generic placeholder image" width="200" height="200">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
    </script>
  </body>
</html>
