<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">EmpleosApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR', 'ADMINISTRADOR')">
        <a class="nav-link" th:href="@{/categories/index}">Categorias</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR', 'ADMINISTRADOR')">
        <a class="nav-link" th:href="@{/positions/index}">Vacantes</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
        <a class="nav-link" th:href="@{/users/index}">Usuarios</a>
      </li>
    </ul>
    <a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp;
    <a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>&nbsp;
    <a class="btn btn-primary" th:href="@{/logout}">Salir</a>&nbsp;
  </div>
</nav>
