<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Aplicar para una Oferta de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

  <header>
    <nav th:insert="fragments/menu :: menu-principal"></nav>
  </header>

    <main role="main">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${employment.image})}" alt="Generic placeholder image" width="220" height="220">
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header"><strong>Aplicar para la vacante <span th:text="${employment.name}"></span> </strong></h4>
              <div class="card-body">
                <h5 class="card-title"><strong>Categoría: </strong><span th:text="${employment.category.name}">Nombre la categoría</span></h5>
                <h6 class="card-title"><strong>Publicado: </strong><span th:text="${#dates.format(employment.date, 'dd-MM-yyyy')}">2019-01-01</span></h6>
                <h6 class="card-title"><strong>Salario Ofrecido: </strong><span th:text="${employment.salary}">$9000</span></h6>
                <p class="card-text" th:text="${employment.description}">La descripción corta de la oferta de trabajo</p>
                <hr>
                <form th:action="@{/request/save}" th:object="${request}" method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="hidden" th:name="employment.id" th:value="${employment.id}">
                        <label for="comentarios">Comentarios</label>
                        <textarea class="form-control" name="comments" th:field="*{comments}" id="comentarios" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="archivoCV">Curriculm Vitae</label>
                        <input type="file" class="form-control-file" name="archivoCV" id="archivoCV">
                        <p class="help-block">Archivos [ pdf,doc,docx ]</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <button type="submit" title="Enviar mi Solicitud." class="btn btn-primary">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
